body {
  background-color: lightgray;
}
h1 {
  text-align: center;
}
.select {
  border: none;
  border-radius: 2px;
  padding: 3px;
}
.select:hover{
  cursor: pointer;
  transform: translateY(1px);
  background-color: lightcyan;
  font-weight: bold;
}
.load, .err{
  font-weight: bold;
  font-size: large;
}
.title {
  font-weight: bold;
  font-size: large;
}